<ion-card matRipple class="ion-margin ion-no-padding" style="cursor: pointer;" *ngFor="let place of allPlaces">
  <!-- <ion-card-content class="ion-no-padding main-container"> -->
    <ion-button *ngIf="data.user.role_name === 'Administrador'" class="delete-button" color="danger" fill="clear" (click)="deleteMemorialLot(place)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    <section (click)="viewDetailMemorialLot(place)">
      <figure class="ion-no-margin" classs="main-container__img-container">
        <ion-img [src]=" place.image || 'assets/images/lote-mem.png'"></ion-img>
        <div class="on-img__bg"></div>
      </figure>
      <div class="main-container__text-container">
        <ion-label position="inline">{{ place.name }}</ion-label> <br>
        <ion-label class="main-container__text-container__total-places" position="inline">{{ place.sectors_total + ' sectores' }}</ion-label>
      </div>
    </section>
  <!-- </ion-card-content> -->
</ion-card>
