@import '../../../../../assets/sass/mixins/tipography';

ion-label{
  @include headlineMediumText;
  color: var(--ion-color-primary-contrast);
  width: 100%;
}
.main-container{
  position: relative;
  display: inline-block;
  &__img-container{
    width: 300px;
    height: 150px;
    position: relative;
    overflow: hidden;
    ion-img{
      // width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;

    }
  }
  &__text-container{
    position: absolute;
    top: 70%;
    margin-left: 21px;
    &__total-places{
      @include captionText;
    }
  }

}
.delete-button{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
  ion-icon{
    font-size: 25px;
  }
}
