<ion-header>
  <ion-toolbar mode="md">
    <ion-button slot="start" fill="clear" (click)="openMenuNav()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-title slot="start">{{title}}</ion-title>
    <ngx-avatar *ngIf="user && user.photo === ''" slot="end" [name]="user.name" [matMenuTriggerFor]="menu"></ngx-avatar>
    <ngx-avatar *ngIf="user && user.photo !== ''" slot="end" [src]="user.photo" [matMenuTriggerFor]="menu"></ngx-avatar>
  </ion-toolbar>
</ion-header>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Cerrar sesión</button>
</mat-menu>
