<section class="main-expandable">
  <swiper *ngIf="service" [config]="config">
    <ng-template swiperSlide *ngFor="let img of service.images">
      <figure class="img-container">
        <div class="on-img__bg"></div>
        <img [src]="!(img.image  === '' || img.image.includes('empty')) ? img.image : 'assets/images/img-item.jpg'">
      </figure>
    </ng-template>
  </swiper>
  <ion-accordion-group class="main-expandable__container" *ngIf="services">
    <div class="main-expandable__container__title ion-padding">
      <ion-label class="main-expandable__container__title-text" >{{ serviceSelected?serviceSelected.name: services[0].name  }}</ion-label>
    </div>

    <ion-accordion class="main-expandable__container-content">
        <section slot="header" class="main-expandable__container-content__header">
          <ion-label class="main-expandable__container-content__header-text">Selecciona un servicio y el plazo para tu nueva cotización.</ion-label>
          <mat-divider class="divider-content" color="primary"></mat-divider>
        </section>
        <section slot="content"class="main-expandable__container-content__form ion-padding">
          <form action="" [formGroup]="quoteForm" (ngSubmit)="addNewQuote()">

            <ion-item>
              <ion-label position="floating">Servicio *:</ion-label>
              <ion-select [value]="service" placeholder="Seleccione el servicio" interface="popover" formControlName="data" (ionChange)="selectedService($event)">
                <ion-select-option [value]="service" *ngFor="let service of services">{{ service.name }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-vertical">
              <ion-label position="floating">Plazo en Años *:</ion-label>
              <ion-select [value]="discount" placeholder="Seleccione el plazo" interface="popover" formControlName="discount">
                <ion-select-option [value]="discount" *ngFor="let discount of discountsList">
                  {{ discount.term }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row style="justify-content: space-between;">
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Cliente <br> antiguo </ion-label>
                    <ion-checkbox slot="end" mode="ios" class="ion-no-margin" formControlName="old_customer"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Fune <br> cerrado </ion-label>
                    <ion-checkbox slot="end" mode="ios" class="ion-no-margin" formControlName="closed_funeral" ></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Fune <br> Crematorio </ion-label>
                    <ion-checkbox slot="end" mode="ios" class="ion-no-margin" formControlName="crematorium_funeral" ></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-button class="submit-button ion-text-capitalize" type="submit" expand="block" fill="clear" shape="round" [disabled]="!quoteForm.valid">
              <ion-label>Cotizar</ion-label>
              <ion-icon slot="end"  name="logo-usd" class="submit-button__icon"></ion-icon>
            </ion-button>
          </form>
        </section>
    </ion-accordion>
  </ion-accordion-group>
</section>
