@import '../../../../../assets/sass/mixins/tipography';
@import '../../../../../assets/sass/mixins/ionic-custom.components';
@import '../../../../../assets/sass/mixins/angular-material-custom.components';

@include mat-divider__component;
@include input-ionic;
.main-expandable {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  .img-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__container {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 1;
    &__title {
      background-color: var(--ion-color-dark-primary-container);
      position: absolute;
      display: flex;
      align-items: center;
      top: -20px;
      height: 41px;
      z-index: 3;
      border-radius: 8px;
      box-shadow: 0px 5px 20px rgba(253, 113, 75, 0.25);

      &-text {
        @include titleMediumText;
      }
    }

    &-content {
      margin: 0 auto;
      border-radius: 40px 40px 0px 0px;

      &__header {
        height: 80px;
        padding: 41px 16px;

        &-text {
          @include labelSmallText;
          color: var(--ion-color-secondary);
        }
      }

      .submit-button {
        @include button-ionic;
        margin-top: 30px;

        &__icon {
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }

      &__form{
        padding-bottom: 63px;
      }

    }
  }
}
