<app-header [title]="'Solución Integral'"></app-header>


<ion-content mode="md" color="light">
  <ion-list>
    <ion-list-header>
      <ion-label>Productos en la Solución Integral </ion-label>
      <button *ngIf="products?.length !== 0" mat-raised-button (click)="clearProduct()">
        <ion-label color="primary">Limpiar</ion-label>
      </button>
    </ion-list-header>
    <article class="ion-margin" *ngFor="let item of products; index as i">
      <app-product [item]="item" (deleteEventEmitter)="deleteProduct(i)" (cloneEventEmitter)="cloneProduct($event)"></app-product>
    </article>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="products?.length === 0" sizeXs="12" sizeMd="6" offsetMd="3">
        <ion-img [src]="'assets/images/empty.png'"></ion-img>
        <ion-text color="primary">
          <h3 class="ion-text-center">No existen productos agregados a la solución integral</h3>
        </ion-text>
      </ion-col>
      <ion-col  *ngIf="products?.length !== 0" sizeXs="12" sizeMd="6" offsetMd="3">
        <button mat-raised-button class="btn-action" (click)="sendToWhats()">
          Enviar Cotización
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
