<ion-header>
  <ion-toolbar mode="md" color="light">
    <ion-title color="tertiary" slot="start"> Agregar Usuario </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="light" class="ion-padding">
  <ion-text color="secondary">Ingrese el nombre y una foto de perfil al nuevo usuario.</ion-text>
  <form action="" class="ion-margin-vertical" [formGroup]="userForm" (ngSubmit)="createUser()">
    <ion-item>
      <ion-label position="floating">Nombre: *</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="userName" [value]="userForm.controls.name.value !== undefined ? (userForm.controls.name.value | titlecase):''"></ion-input>
    </ion-item>
    <ng-container color="danger" *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
      <ion-text *ngIf="userNameInput.errors.required" color="danger"> Por favor, ingrese el nombre del usuario. </ion-text>
      <ion-text *ngIf="userNameInput.errors.maxlength" color="danger"> Por favor, verifique el nombre ingresado MAX. </ion-text>
      <ion-text *ngIf="userNameInput.errors.minlength && !userNameInput.errors.required" color="danger">Por favor, ingrese un nombre de más de 3 caracteres.</ion-text>
      <ion-text *ngIf="userNameInput.errors.pattern && !userNameInput.errors.minlength" color="danger">Por favor, verifique el nombre ingresado</ion-text>
    </ng-container>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Email: *</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ng-container color="danger" *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
      <ion-text *ngIf="userEmail.errors.required" color="danger"> El correo electronico es obligatorio. </ion-text>
      <ion-text *ngIf="userEmail.errors.minlength && !userEmail.errors.required" color="danger">Debe introducir como mínimo 15 caracteres.</ion-text>
      <ion-text *ngIf="userEmail.errors.maxlength" color="danger">Debe introducir como máximo 50 caracteres. </ion-text>
      <ion-text *ngIf="userEmail.errors.pattern && !userEmail.errors.minlength" color="danger">Debe ingresar un correo electrónico con el siguiente formato: elemplo@ejemplo.com.o</ion-text>
    </ng-container>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Password: *</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ng-container color="danger" *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
      <ion-text *ngIf="userPassword.errors.required" color="danger"> La contraseña es obligatoria. </ion-text>
      <ion-text *ngIf="userPassword.errors.maxlength" color="danger"> Debe introducir como máximo 25 caracteres. </ion-text>
      <ion-text *ngIf="userPassword.errors.minlength && !userPassword.errors.required" color="danger">Debe introducir como mínimo 8 caracteres.</ion-text>
      <!-- <ion-text *ngIf="userPassword.errors.pattern && !userPassword.errors.minlength" color="danger">Por favor, verifique el nombre ingresado</ion-text> -->
    </ng-container>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Celular: *</ion-label>
      <ion-input type="tel" accept="tel" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Rol: *</ion-label>
      <ion-select value="admin" interface="popover" formControlName="role_id">
        <ion-select-option [value]="1">Administrador</ion-select-option>
        <ion-select-option [value]="2">Asesor Comercial</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-thumbnail slot="start">
        <ngx-avatar *ngIf="!userForm.controls.photo.value" [name]="userForm.controls.name.value || 'Fune Concordia'"></ngx-avatar>
        <ngx-avatar *ngIf="userForm.controls.photo.value" [src]="userForm.controls.photo.value"></ngx-avatar>
      </ion-thumbnail>
      <ion-label> </ion-label>
      <ion-button color="transparent" class="btn-upload-image" (click)="fileUpload()">
        <ion-icon color="primary"  name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="light" class="ion-margin-top" style="width: 80%;">
      <ion-label slot="start">Estado</ion-label>
      <ion-checkbox  mode="ios" slot="end" [value]="true" (ionChange)="change($event)"></ion-checkbox>
    </ion-item>

    <ion-button class="submit-button" type="submit" expand="block" fill="clear" shape="round" [disabled]="userForm.invalid">
      Agregar
    </ion-button>
  </form>
</ion-content>
