@import '../../../../../assets/sass/mixins/tipography';

ion-item {
  border-radius: 10px;
}

ion-title{
  @include headlineLargeText;
}

ion-text{
  @include overlineText;
}

.submit-button {
  background: linear-gradient(50.67deg, #006F00 0%, #386669 100%);
  border-radius: 52px;
  color: var(--ion-color-white);
  height: 52px;
  margin-top: 10px;
}
