<app-header [title]="'Usuarios'"></app-header>

<ion-content color="light" class="ion-padding" mode="md">
  <ion-label *ngIf="rol === 'Administrador' && paginator" color="primary">Usuarios {{ paginator.meta.total }} </ion-label>
  <ion-list *ngIf="rol === 'Administrador'" class="ion-no-padding">
    <ion-list-header color="light" class="ion-no-padding">
      <ion-title class="ion-no-padding">Lista de Usuarios</ion-title>
    </ion-list-header>
    <ion-searchbar placeholder="Nombre de usuario" inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="500" mode="ios"></ion-searchbar>
    <app-user-list [userList]="(users$ | async) | sortByName | searchByNane: textToSearch" (reloadEventEmitter)="getAllUsersAfterEditOrDelete()"></app-user-list>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-unauthorized *ngIf="rol === 'Asesor'" [title]="'Usuarios'"></app-unauthorized>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas usuarios...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-fab *ngIf="rol === 'Administrador'" horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary" (click)="addUser('create')">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
