<swiper [config]="config">
  <ng-template swiperSlide *ngFor="let img of sector.images">
    <figure class="img-container">
      <div class="on-img__bg"></div>
      <img [src]="!(img.image  === '' || img.image.includes('empty'))? img.image : 'assets/images/img-item.jpg'">
      <section class="img-container__info" *ngIf="discount && sector">
        <ion-label color="light" class="img-container__info-title">{{sector.name}}</ion-label>
        <ion-label color="light" class="img-container__info-subtitle">Plazo en {{discount.term}} años</ion-label>
      </section>
    </figure>
  </ng-template>
</swiper>
<ion-grid>
  <ion-row>
    <ion-col sizeXs="12" sizeMd="8" offsetMd="2">
      <form class="ion-padding" [formGroup]="sectorQuoterForm" (ngSubmit)="cotizationOfSector()">
        <ion-text class="" color="secondary">
          <p class="text-p">Selecciona un sector y el plazo para tu nueva cotización.</p>
        </ion-text>
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" color="tertiary">Sector *:</ion-label>
          <ion-select formControlName="data" interface="popover" [value]="sector" (ionChange)="changeDataSelected($event, 's')">
            <ion-select-option *ngFor="let sector of sectorsList" [value]="sector">{{ sector.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" color="tertiary">Plazo en años *:</ion-label>
          <ion-select formControlName="discount" [value]="discount" interface="popover" placeholder="Seleccione el plazo" (ionChange)="changeDataSelected($event, 'd')">
            <ion-select-option *ngFor="let discount of discountsList" [value]="discount">{{ discount.term }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-margin-bottom" color="light" lines="none">
          <ion-label slot="end" class="text-label" color="tertiary">Cliente Antiguo</ion-label>
          <ion-checkbox mode="ios" slot="end" formControlName="old_customer"></ion-checkbox>
        </ion-item>
        <button type="submit" class="btn-action" mat-raised-button>
          <ion-label class="ion-margin-end ion-text-capitalize">Cotizar</ion-label>
          <ion-icon name="cash-outline"></ion-icon>
        </button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
