@import '../../../../../../assets/sass/mixins/tipography';
@import '../../../../../../assets/sass/mixins/media-breackpoints';

.text-p {
  @include labelSmallText;
  opacity: 0.8;
}

.text-label {
  @include labelLargeText;
}

.img-container {
  width: 100%;
  height: 250px;
  margin: 0px;
  position: relative;
  @include medium {
    height: 450px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    flex-direction: column;
    &-title {
      @include headlineLargeText;
    }
    &-subtitle {
      @include bodySmallText;
    }
  }
}
