<app-header [title]="'Descuentos'"></app-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-text color="secondary">
          <ion-label class="title-content ion-margin-bottom">
            Política de intereses, plazo y descuentos
          </ion-label>
        </ion-text>
        <mat-divider class="divider-content"></mat-divider>
        <app-skeleton-creen *ngIf="!discounts"></app-skeleton-creen>
        <mat-tab-group mat-stretch-tabs (selectedIndexChange)="changeTabDiscount($event)">
          <mat-tab label="Desc. en Lote">
            <app-data-discounts *ngIf="discounts && initialData" [initials]="initialData" [discounts]="discounts" (updateEventEmitter)="update('lot')"></app-data-discounts>
          </mat-tab>
          <mat-tab label="Desc. en Fune">
            <app-data-discounts *ngIf="discountsFune && initialData" [initials]="initialData" [isFune]="true" [discounts]="discountsFune" (updateEventEmitter)="update('fune')"></app-data-discounts>
          </mat-tab>
        </mat-tab-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" offsetMd="3">

        <ion-text color="secondary">
          <p>Cambiar valores de política de inversión inicial</p>
        </ion-text>
        <form [formGroup]="dataForm" (ngSubmit)="saveChanges()">
          <ion-item>
            <ion-label>1ra Inv. inicial : <ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="first"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>2da Inv. inicial : <ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="second"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-label>3ra Inv. inicial : <ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="third"></ion-input>
          </ion-item>
          <button *ngIf="data.user.role_name === 'Administrador'" [disabled]="!dataForm.valid" class="btn-action" type="submit" mat-raised-button>
            <mat-label>Guardar Cambios</mat-label>
          </button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="data.user.role_name === 'Administrador'" class="ion-margin-top" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewDiscount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
