<ion-card class="main-card" *ngIf="dataQuote">
  <ion-card-header class="ion-text main-card__header ion-text-center">
    <section>
      <ion-card-subtitle class="ion-text main-card__header-subtitle"> Cotización Final</ion-card-subtitle>
      <ion-card-title class="ion-text main-card__header-title ion-margin-top">{{ (totalPrice | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label class="ion-text main-card__header-text">Precio Final - Plazo a {{ dataQuote.discount.term }}  años</ion-label>
    </section>
    <section class="ion-margin-top">
      <ion-card-title class="ion-text main-card__header-subtitle">{{ (totalValueCash | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label class="ion-text main-card__header-text">Precio al contado</ion-label>
    </section>
  </ion-card-header>

  <ion-card-content *ngIf="finalPrice" class="main-card__content">
    <ion-list class="main-card__content__list">
      <ion-item>
        <ion-label color="danger is-text--caption">Descuento Total</ion-label>
        <ion-label color="danger" slot="end">{{(finalPrice.total_discount | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary is-text--caption">Precio Convenido</ion-label>
        <ion-label color="primary" style="font-size: 20px;" slot="end">{{(agreedPrice | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="success is-text--caption">Cuota Inicial</ion-label>
        <ion-label color="success" style="font-size: 20px;" slot="end">{{ (finalPrice.initial_quote | convertCurrency: coinStatus)| currency: coinStatus? '$us ': 'Bs  ' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="secondary is-text--caption">Saldo a Finalizar</ion-label>
        <ion-label color="secondary" slot="end">{{(finalPrice.final_balanced | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-label>
      </ion-item>

      <ion-item color="success">
        <ion-label>Mensualidad</ion-label>
        <ion-label slot="end">{{(finalPrice.monthly_fee | convertCurrency: coinStatus)|currency: coinStatus? '$us ': 'Bs  ' }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
