@import '../../../../../assets/sass/mixins/tipography';

.main-card{
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 auto;
  height: 470px;
  &__header{

    &-title{
      @include headlineLargeText;
      color: var(--ion-color-tertiary);
    }

    &-subtitle{
      @include titleLargeText;
      color: var(--ion-color-on-surface);
    }

    &-text{
      @include smallTextCard;
      color: var(--ion-color-neutral70);
      opacity: 0.7;
    }
  }

  &__content{

    &__list{
      ion-label{
        @include bodyMediumText;
      }
      .secondary{
        color: var(--ion-color-secondary50);
      }
      .danger{
        color: var(--ion-color-danger);
      }
      .tertiary{
        color: var(--ion-color-tertiary70);
      }
      .neutral{
        color: var(--ion-color-neutral70);
      }
    }
  }
}
