<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar mode="md" slot="bottom">
    <ion-tab-button
      *ngFor="let route of routes | slice:0:3"
      [tab]="route.route">
      <ion-icon [name]="route.icon"></ion-icon>
      <ion-label>{{route.label}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
