<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" mode="md" defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content mode="md" color="light" class="ion-padding">
  <ion-img [src]="sharingImage"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeMd="8" offsetMd="2">
        <button (click)="shareVia()" class="btn-action" mat-raised-button>
          <ion-label class="ion-margin-end ion-text-capitalize">Compartir Imagen</ion-label>
          <ion-icon name="share-social-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
