@import '../../../assets/sass/mixins/ionic-custom.components';
@import '../../../assets/sass/mixins/tipography';

.main-content {
  padding: 8px;
}
.logo-img {
  margin: auto;
  display: block;
  width: 100px;
}

.product-img {
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
}

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #73796E10;
  border-style: solid;
  color: #2F312D;
  @include captionText;
}

table.customTable tr:nth-child(even){
  background-color: #F1F1EB;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #73796E10;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #FFFFFF;
}

