<ion-header>
  <ion-toolbar mode="md" color="light">
    <ion-title color="tertiary" slot="start"> Agregar Lugar </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="light" class="ion-padding">
  <ion-text color="secondary">Ingrese el nombre y cargue una imagen del lugar.</ion-text>
  <form action="" class="ion-margin-vertical" [formGroup]="placeForm" (ngSubmit)="addPlace()">
    <ion-item>
      <ion-label position="floating">Nombre: *</ion-label>
      <ion-input type="text" formControlName="name"
        [value]="placeForm.controls.name.value !== undefined?(placeForm.controls.name.value | titlecase):''"
        [(ngModel)]="userName"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-thumbnail slot="start">
        <ngx-avatar *ngIf="!placeForm.controls.image.value" [name]="placeForm.controls.name.value || 'Fune Concordia'">
        </ngx-avatar>
        <ngx-avatar *ngIf="placeForm.controls.image.value" [src]="placeForm.controls.image.value"></ngx-avatar>
      </ion-thumbnail>
      <ion-label> </ion-label>
      <ion-button color="transparent" class="btn-upload-image" (click)="fileUpload()">
        <ion-icon color="primary" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-item>


    <ion-button class="submit-button ion-text-capitalize" type="submit" expand="block" fill="clear" shape="round"
      [disabled]="!placeForm.valid">
      <ion-label>Agregar</ion-label>
    </ion-button>
  </form>
</ion-content>
