@import '../../../../../assets/sass/mixins/ionic-custom.components';
@import '../../../../../assets/sass/mixins/angular-material-custom.components';
@import '../../../../../assets/sass/mixins/tipography';

.form-container {
  width: 100%;
  position: relative;
  @include input-ionic;
  @include mat-divider__component;

  &__title-content {
    @include headlineMediumText;
  }

  &__btn-content {
    @include button-ionic;

    .btn-title {
      @include buttonText;
    }
  }

  .close-btn__content {
    position: absolute;
    top: 0px;
    right: 0px;
  }

}

