@import '../../../../assets/sass/mixins/tipography';

.text{
  @include headlineMediumText;
  color: var(--ion-color-primary-contrast);
  width: 100%;
}
.main-container{
  position: relative;
  display: inline-block;
  &__img-container{
    width: 100%;
    ion-img{
      width: 100%;
    }
  }
  &__text-container{
    position: absolute;
    top: 70%;
    margin-left: 21px;
    &__total-places{
      @include captionText;
    }
  }
}

.action-buttons{
  --background: var(--ion-color-dark-secondary);
  color: var(--ion-color-dark-primary-container);
}
