<ion-content mode="md" color="light">
  <form class="form-container" [formGroup]="discountForm" (ngSubmit)="saveChanges()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label class="form-container__title-content" color="tertiary">Configurar Descuento</ion-label>
          <mat-divider class="divider-content"></mat-divider>
          <ion-item>
            <ion-label position="floating">Plazo (años) <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="term"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number"
              [readonly]="true">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Lote % <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="lot_percentage"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Valor <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="lot_value"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Inicial {{initial.first}} % <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="initial_6"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Inicial {{initial.second}} % <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="initial_10"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Inicial {{initial.third}} % <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="initial_20"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contado % <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="cash"
              inputmode="decimal"
              [max]="100"
              [min]="0"
              [required]="true"
              type="number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button
            type="submit"
            expand="block"
            fill="solid"
            shape="round"
            size="large"
            class="form-container__btn-content"
            [disabled]="!discountForm.valid">
            <ion-label class="ion-text-capitalize btn-title">Guardar Cambios</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button type="button" mat-icon-button color="warn" class="close-btn__content" (click)="modalController.dismiss()">
      <mat-icon aria-label="close-button">close</mat-icon>
    </button>
  </form>
</ion-content>
