<app-header *ngIf="dataQuote" [title]="dataQuote.title"></app-header>

<ion-content mode="md" color="light" *ngIf="dataQuote">
  <ion-toolbar class="action-buttons">
    <ion-back-button slot="start" mode="md" defaultHref="" (click)="back()"></ion-back-button>
    <ion-title class="ion-no-padding">{{dataQuote.data.name}}</ion-title>
    <ion-button *ngIf="true" fill="clear" shape="round" slot="end">
      <ion-label>Bs</ion-label>
      <ion-toggle color="primary" [checked]="coinStatus" (ionChange)="changeCurrency($event)"></ion-toggle>
      <ion-label>$us</ion-label>
    </ion-button>
    <button slot="end" mat-icon-button (click)="sendToCombo()" class="ion-padding-start">
      <ion-icon style="font-size: 24px;" name="cart"></ion-icon>
    </button>
  </ion-toolbar>
  <ion-grid fixed class="ion-no-padding ion-no-margin" style="width: 100%;">
    <ion-row class="ion-padding">
      <ion-col size="12">
        <app-add-funeral-service-quote [coinStatus]="coinStatus" [dataQuote]="dataQuote" [option]="option"
          (initialPayEventEmitter)="changeInitialPay($event)" (totalValueDiscount)="changeTotalDiscount($event)"
          (totalPriceFinal)="changeTotalPrice($event)" (changeObservationEventEmitter)="changeObservation($event)">
        </app-add-funeral-service-quote>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
