@import '../../../assets/sass/mixins/ionic-custom.components';
@import '../../../assets/sass/mixins/tipography';

ion-content > .action-buttons{
  --background: var(--ion-color-dark-secondary);
  color: var(--ion-color-dark-primary-container);
}
