@import '../../assets/sass/mixins/tipography';

ion-content{
  --ion-background-color: var(--ion-color-bg-login);
}

.login-content {

    &__banner {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 0px 0px 10px 10px;
      position: relative;
      .banner {
        width: 100%;
        height: 100%;
        margin: 0px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        ion-title{
          @include displaySmallText;
          color: var(--ion-color-dark-primary);
        }
        .text-descr{
          @include bodyLargeText;
          color: var(--ion-color-dark-secondary);
        }
      }
    }

    &__item-custom {
      --ion-item-background: var(--ion-color-danger-contrast);
    }

    ion-label{
      color: var(--ion-color-light-tertiary);
    }

    ion-input {
      color: var(--ion-color-tertiary);
    }
    ion-item {
      --border-radius: 10px;
     }

     &__error-message{
       display: block;
       @include bodySmallText;
       color: var(--ion-color-danger);

     }

     &__text-title {
        @include headlineSmallText;
        color: var(--ion-color-secondary);
     }

     &__btn-eye-icon{
      font-size: 22px;
      margin: auto;
      color: var(--ion-color-tertiary);
    }

      &__remember-check{
        border:0;
        border-bottom: none;
        text-align: right;
        ion-label {
          @include titleSmallText;
          padding-right: 15px;
        }
        ion-checkbox{
          --border-radius: 50%;
          width: 26px;
          height: 26px;
        }
     }
     ion-button {
      @include titleSmallText;
      text-transform: none;
      --background: linear-gradient(50.67deg, #006F00 0%, #386669 100%);;
      --border-radius: 20px;
     }
}
