
<ion-content class="login-content">
  <section class="login-content__banner">
    <figure class="banner">
      <img src="assets/images/img-item.jpg">
      <div class="on-img__bg"></div>
    </figure>
    <article class="info-content">
      <ion-text color="light">
        <h1>¡Bienvenido!</h1>
      </ion-text>
      <ion-text class="text-descr">Inicia sesión para continuar</ion-text>
    </article>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="8" offset-lg="2">
        <form [formGroup]="formLogin" (ngSubmit)="loginUser()">
          <ion-text class="ion-text-center">
            <p class="login-content__text-title">Iniciar Sesión</p>
          </ion-text>
            <ion-list>
              <section class="ion-margin-bottom">
                <ion-item class="login-content__item-custom">
                  <ion-label position="floating">Correo Electronico *:</ion-label>
                  <ion-input autocomplete="off"
                      formControlName="email"
                      type="text"
                      placeholder="example@example.com"
                      required="required">
                  </ion-input>
                </ion-item>
                <ng-container *ngFor="let error of errorMessages.email">
                  <span class="login-content__error-message" *ngIf="getEmail().hasError(error.type) && (getEmail().dirty || getEmail().touched)" style="display: block;">
                    {{error.message}}
                  </span>
                </ng-container>
              </section>

              <section class="ion-margin-bottom">
                <ion-item class="login-content__item-custom">
                  <ion-label position="floating">Contraseña *:</ion-label>
                  <ion-input
                      formControlName="password"
                      clearOnEdit="false"
                      [type]="showPassword ? 'text' : 'password'"
                      placeholder="contraseña"
                      required="required"
                    >
                  </ion-input>
                  <ion-icon class="login-content__btn-eye-icon" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
                </ion-item>
                <ng-container *ngFor="let error of errorMessages.password">
                  <span class="login-content__error-message" *ngIf="getPassword().hasError(error.type) && (getPassword().dirty || getPassword().touched)">
                    {{error.message}}
                  </span>
                </ng-container>
              </section>

              <ion-item class="ion-margin-bottom login-content__remember-check" lines="none">
                <ion-label>Recuérdame</ion-label>
                <ion-checkbox [checked]="isChecked" class="checkbox-square" (ionChange)="checkboxClick($event)"></ion-checkbox>
              </ion-item>
              <button type="submit" [disabled]="!formLogin.valid" class="btn-action" mat-raised-button>
                Iniciar Sesión
                <ion-icon name="enter-outline"></ion-icon>
              </button>
              <ion-progress-bar *ngIf="showLoader" [type]="'indeterminate'"></ion-progress-bar>
            </ion-list>
          </form>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
