<ion-card *ngIf="dataQuote && regularPrice" class="main-card">
  <ion-card-header class="ion-text main-card__header ion-text-center">
    <section>
      <ion-card-subtitle class="ion-text main-card__header-subtitle"> Precio Regular</ion-card-subtitle>
      <ion-card-title class="ion-text main-card__header-title ion-margin-top">{{((regularPrice.totalPrice)| convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label class="ion-text main-card__header-text">Precio en previsión</ion-label>
    </section>
    <section class="ion-margin-top">
      <ion-card-title class="ion-text main-card__header-subtitle">{{ (totalValueCash | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label style="color: var(--ion-color-neutral70);" class="ion-text main-card__header-text">Precio Al contado</ion-label>
    </section>
  </ion-card-header>

  <ion-card-content class="main-card__content">
    <ion-list class="main-card__content__list">
      <ion-item class="neutral">
        <ion-label class="is-text--caption">Precio en Emergencia</ion-label>
        <ion-label slot="end">{{(regularPrice.totalPrice * 1.24 | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  '}}</ion-label>
      </ion-item>
      <ion-item class="in-primary">
        <ion-label class="is-text--caption">Ahorro</ion-label>
        <ion-label slot="end">{{((regularPrice.totalPrice * 1.24) - regularPrice.totalPrice | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  '}}</ion-label>
      </ion-item>
      <ion-item class="tertiary">
        <ion-label class="is-text--caption">Cuota Inicial {{initial.first}}%</ion-label>
        <ion-label slot="end">{{(regularPrice.initial_quote | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  '}}</ion-label>
      </ion-item>
      <ion-item class="tertiary">
        <ion-label class="is-text--caption">Cuota Inicial {{initial.second}}%</ion-label>
        <ion-label slot="end">{{(regularPrice.second_intial_quote | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  '}}</ion-label>
      </ion-item>
      <ion-item class="tertiary">
        <ion-label class="is-text--caption">Cuota Inicial {{initial.third}}%</ion-label>
        <ion-label slot="end">{{(regularPrice.third_initial_quote | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  '}}</ion-label>
      </ion-item>
      <!-- <ion-item class="in-primary total" lines="none">
        <ion-label>Contado</ion-label>
        <ion-label slot="end">{{regularPrice.total_cash | currency: ' $us'}}</ion-label>
      </ion-item> -->
    </ion-list>

  </ion-card-content>
</ion-card>
