<ion-header>
  <ion-toolbar mode="md" color="light">
    <ion-title color="tertiary" slot="start"> Actualizar Servicio </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="light" class="ion-padding">
  <ion-progress-bar type="indeterminate" *ngIf="state" buffer="0.5" reversed="true" color="primary"></ion-progress-bar>
  <ion-text color="secondary">Ingrese el nombre y cargue imagenes del servicio.</ion-text>
  <form action="" class="ion-margin-vertical" [formGroup]="serviceForm" (ngSubmit)="editService()">
    <ion-item>
      <ion-label position="floating">Nombre: *</ion-label>
      <ion-input type="text" formControlName="name" [value]="serviceForm.controls.name.value !== undefined?(serviceForm.controls.name.value | uppercase):''"></ion-input>
    </ion-item>


    <ion-item class="ion-margin-vertical">
      <ion-label position="floating">Precio Previsón ($us): *</ion-label>
      <ion-input type="text" formControlName="predicted_price"></ion-input>
    </ion-item>

    <ion-grid *ngIf="allImages">
      <ion-row *ngIf="allImages.length !== 0">
        <ion-col *ngFor="let data of allImages; index as i" sizeXs="4">
          <section *ngIf="!((data.image | lowercase).includes('empty') || data.image === '')" class="image">
            <button type="button" (click)="deleteImage(data, i)" class="image-btn" mat-icon-button color="warn">
              <mat-icon aria-label="label">clear</mat-icon>
            </button>
            <ion-img class="image-container" [src]="data.image"></ion-img>
          </section>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(allImages | showImage)">
        <ion-col sizeXs="4" offsetXs="4">
          <div class="image-add" matRipple (click)="fileUpload()">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <ion-label class="text--caption">Imagen</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="submit-button ion-text-capitalize" type="submit" expand="block" fill="clear" shape="round" [disabled]="!serviceForm.valid">
      <ion-label>Guardar Cambios</ion-label>
    </ion-button>
  </form>
</ion-content>
