<app-header [title]="'Lote Memorial'"></app-header>

<ion-content mode="md" color="light">
  <!-- <app-building [title]="'Lote Memorial'"></app-building> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-data-memorial-lot [allPlaces]="allPlaces" (reloadEventEmitter)="update()">
  </app-data-memorial-lot>
  <!-- <app-detail-memorial-lot></app-detail-memorial-lot> -->

</ion-content>

<ion-fab *ngIf="data.user.role_name === 'Administrador'" horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary" (click)="addMemorialLot()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
