<app-header [title]="'Servicio Funerario'"></app-header>

<ion-content mode="md" color="light" *ngIf="data.user.role_name === 'Administrador'">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-text color="secondary">
          <ion-label class="title-content ion-margin-bottom">
            Lista de Servicios Disponibles
          </ion-label>
        </ion-text>
        <!-- <mat-divider class="divider-content"></mat-divider> -->
        <app-data-services *ngIf="services" [services]="services" (updateEventEmitter)="update()"></app-data-services>
        <app-skeleton-creen *ngIf="!services"></app-skeleton-creen>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" offsetMd="3">
        <ion-text color="secondary">
          <p class="is-text is-text--caption">Cambiar valores de fune cerrada, fune con cremación, combo/cliente antiguo y cambio de moneda</p>
        </ion-text>
        <form [formGroup]="dataForm" (ngSubmit)="saveChanges()">
          <ion-item>
            <ion-label class="is-text is-text--caption">Fune Cerrada $us :<ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="fune_closed"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="is-text is-text--caption">Fune con cremación $us :<ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="fune_cremated"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="is-text is-text--caption">Combo / Cli Antiguo % :<ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="old_customer"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-label class="is-text is-text--caption">Cambo de Dolar $us :<ion-text color="danger">*</ion-text></ion-label>
            <ion-input accept="number" type="number" formControlName="currency"></ion-input>
          </ion-item>
          <button [disabled]="!dataForm.valid" class="btn-action" type="submit" mat-raised-button>
            <mat-label>Guardar Cambios</mat-label>
          </button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab class="ion-margin-top" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewFuneralService()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content mode="md" color="dark" *ngIf="data.user.role_name === 'Asesor'">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-quote-service *ngIf="services" [services]="services"></app-quote-service>
</ion-content>
