@import '../../../assets/sass/mixins/tipography';
@import '../../../assets/sass/mixins/angular-material-custom.components';

.title-content {
  @include bodyLargeText;
  margin-top: 0px;
}

.container-list{
  margin-bottom: 15px;
  ion-item{
    ion-label{
      @include bodyLargeText;
    }
  }
}

@include mat-divider__component;
