@mixin input-ionic {
  ion-item {
    border-radius: 8px;
    ion-icon {
      margin-top: 20px;
    }
  }
}

@mixin button-ionic {
  background: linear-gradient(50.67deg, #006F00 0%, #386669 100%);
  border-radius: 52px;
  color: var(--ion-color-white);
  height: 52px;
  margin-top: 10px;
}
