$sm: 411px;
$md: 768px;
$lg: 1440px;

@mixin small {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $lg) {
    @content;
  }
}
