<section class="table-container" *ngIf="displayedColumns">
  <mat-table [dataSource]="discounts">
    <ng-container matColumnDef="deadline" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Plazos</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.term}} <small>{{element.term === 1 ? 'año':'años'}}</small>
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lot">
      <mat-header-cell class="interest-header__container" *matHeaderCellDef>
        <mat-label>Lote</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('interest', i)}">
        <mat-label *ngIf="element.lot_value !== 1">
          {{element.lot_percentage}} <small>({{element.lot_value}})</small>
        </mat-label>
        <mat-label *ngIf="element.lot_value === 1">
          No aplica
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="funeral">
      <mat-header-cell class="interest-header__container" *matHeaderCellDef>
        <mat-label>Fune</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('interest', i)}">
        <mat-label *ngIf="element.fune_value !== 1">
          {{element.fune_percentage}} <small>({{element.fune_value}})</small>
        </mat-label>
        <mat-label *ngIf="element.fune_value === 1">
          No aplica
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quota-6">
      <mat-header-cell class="discount-header__container" *matHeaderCellDef>
        <mat-label>Inicial {{initials.first}}%</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('discount', i)}">
        <mat-label>
          {{element.initial_6}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quota-10">
      <mat-header-cell class="discount-header__container" *matHeaderCellDef>
        <mat-label>Inicial {{initials.second}}%</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('discount', i)}">
        <mat-label>
          {{element.initial_10}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quota-20">
      <mat-header-cell class="discount-header__container" *matHeaderCellDef>
        <mat-label>Inicial {{initials.third}}%</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('discount', i)}">
        <mat-label>
          {{element.initial_20}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cash">
      <mat-header-cell class="discount-header__container" *matHeaderCellDef>
        <mat-label>Contado %</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('discount', i)}">
        <mat-label>
          {{element.cash}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="action" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="data.user.role_name === 'Administrador'" mat-icon-button class="action-btn" [matMenuTriggerFor]="menu">
          <mat-icon aria-label="label">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button type="button" name="btn-edit" mat-menu-item class="action-btn" (click)="editDiscount(element)">
            <mat-icon class="action-btn">edit</mat-icon>
            <mat-label>Editar</mat-label>
          </button>
          <button type="button" name="btn-delete" mat-menu-item class="action-btn__danger" (click)="deleteDiscount(element)">
            <mat-icon class="action-btn__danger">delete</mat-icon>
            <mat-label>Eliminar</mat-label>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

<!--
    <ng-container matColumnDef="first-column-header">
      <mat-header-cell
        style="background: red;"
        *matHeaderCellDef
        [style.text-align]="'center'"
        [attr.colspan]="2">
      </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="second-column-header">
      <mat-header-cell
        style="background: green;"
        *matHeaderCellDef
        [style.text-align]="'center'"
        [attr.colspan]="2">
      </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="third-column-header">
      <mat-header-cell
        style="background: blue;"
        *matHeaderCellDef
        [style.text-align]="'center'"
        [attr.colspan]="2">
      </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="four-column-header">
      <mat-header-cell
        style="background: yellow;"
        *matHeaderCellDef
        [style.text-align]="'center'"
        [attr.colspan]="2">
      </mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="five-column-header">
      <mat-header-cell
        style="background: orange;"
        *matHeaderCellDef
        [style.text-align]="'center'"
        [attr.colspan]="2">
      </mat-header-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="[
      'first-column-header',
      'second-column-header',
      'third-column-header',
      'four-column-header',
      'five-column-header'
    ]"></mat-header-row> -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
