@import '../../../../../assets/sass/mixins/_media-breackpoints.scss';


.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 50px;
  mat-table {
    width: 800px;
    @include medium {
      width: 100%;
    }

    .small {
      opacity: 0.5;
    }

    .mat-cell, .mat-header-cell {
      padding-left: 16px;
    }

    .mat-column-action {
      max-width: 40px;
      padding-left: 0px;
    }

    .mat-column-deadline {
      max-width: 80px;
    }

    .mat-table-sticky-border-elem-right {
      border-left: 0.5px solid var(--ion-color-outline);
    }

    .mat-table-sticky-border-elem-left {
      border-right: 0.5px solid var(--ion-color-outline);
    }

    .mat-row:nth-child(odd){
      background-color: var(--ion-color-surface-variant);
    }

    .mat-header-cell {
      background-color: var(--ion-color-surface-variant);
    }

    .interest-header__container {
      background-color: var(--ion-color-secondary-container);
    }
    .discount-header__container {
      background-color: var(--ion-color-error-container);
    }
  }

}

.action-btn {
  color: var(--ion-color-primary);
}

.action-btn__danger {
  color: var(--ion-color-error);
}
