ion-toolbar {
  --background: var(--ion-color-on-tertiary-container);
  color: var(--ion-color-white);
}

ion-footer {
  height: 55px;
  ion-toolbar {
    height: 100%;
  }
}
#file {
  display: none;
  width: 100%;
  height: 100%;
}

#file-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
