.custom-dialog-container {
  .mat-dialog-container {
    background-color: var(--ion-color-light);
    border-radius: 10px;
  }
}

.btn-action {
  width: 100%;
  height: 52px;
  border-radius: 20px !important;
  color: var(--ion-color-light);
  background: linear-gradient(50.67deg, #006F00 0%, #386669 100%);
}

.on-img__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.6%, rgba(0, 0, 0, 0.52) 73.45%);
}

ngx-avatar{
  img {
    object-fit: cover;
  }
}
