.swiper-button-prev, .swiper-button-next {
  color: var(--ion-color-white) !important;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 24px !important;
}
.swiper-pagination-bullet-active {
  background: var(--ion-color-primary) !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}
