<ion-card *ngIf="item">
  <ion-card-header>
    <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
    <ion-card-title>{{item.data.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label color="primary">Cuota Final: {{item.totalPrice | currency: '$us '}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="success">Inv. Inicial: {{item.inv_initial | currency: '$us '}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start" color="danger">Desc: {{item.totalDiscount | currency: '$us '}}</ion-label>
      <ion-buttons slot="end">
        <button mat-icon-button color="warn" (click)="deleteEventEmitter.emit(true)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="cloneEventEmitter.emit(item)">
          <mat-icon aria-label="label">content_copy</mat-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-card-content>
</ion-card>
