@import '../assets/sass/mixins/tipography';

.my-custom-menu {
  --width: 230px;
  --background: var(--ion-color-on-tertiary-container);

  &__toolbar-content {
    --background: var(--ion-color-on-tertiary-container);
    --border-color: var(--ion-color-outline) !important;
    ion-title {
      --color: var(--ion-color-white);
      @include captionText;
    }
  }
  .main-content__nav {
    --background: var(--ion-color-on-tertiary-container);

    &-list {
      background: var(--ion-color-on-tertiary-container);

      &__item-content {
        --background: var(--ion-color-on-tertiary-container);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        ion-icon {
          color: var(--ion-color-white);
        }
        .label-content {
          @include labelSmallText;
          color: var(--ion-color-white);
        }
      }
    }
  }
}
