<ion-app>
  <ion-menu
    class="my-custom-menu"
    side="start"
    type="overlay"
    menuId="main"
    contentId="menu">
    <ion-header>
      <ion-toolbar mode="md" class="my-custom-menu__toolbar-content">
        <ion-title slot="start">Panel de Control</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="main-content__nav">
      <ion-list class="main-content__nav-list">
        <ion-item
          *ngFor="let route of routes"
          class="main-content__nav-list__item-content"
          [detail]="false"
          [lines]="'none'"
          appRouterActive
          color="light"
          [routerLink]="['/home/' + route.route]" routerLinkActive="active"
          (click)="closeMenu()">
          <ion-icon slot="start" [name]="route.icon"></ion-icon>
          <ion-label class="label-content">{{route.label}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>



