<section class="table-container">
  <mat-table [dataSource]="listSectorsOfPlace">
    <ng-container matColumnDef="name" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Sector</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.name}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="real_price">
      <mat-header-cell class="interest-header__container" *matHeaderCellDef>
        <mat-label>Precio real {{ coinStatus?'($us)': '(Bs)'}}</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('interest', i)}">
        <mat-label>
          {{coinStatus? element.real_price: (element.real_price*6.97 | number : '1.0-0') }}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discount_price">
      <mat-header-cell class="interest-header__container" *matHeaderCellDef>
        <mat-label>Descuento {{ coinStatus?'($us)': '(Bs)'}}</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('interest', i)}">
        <mat-label>
          {{ coinStatus?element.discount_price: (element.discount_price*6.97 | number : '1.0-0') }}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="predicted_price">
      <mat-header-cell class="discount-header__containe" *matHeaderCellDef>
        <mat-label>Precio Prevision {{ coinStatus?'($us)': '(Bs)'}}</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; index as i"
        [ngStyle]="{'background-color': colorService.changeBgMatCell('interest', i)}">
        <mat-label>
          {{ coinStatus?element.predicted_price:(element.predicted_price*6.97 | number : '1.0-0')}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button class="action-btn" [matMenuTriggerFor]="menu">
          <mat-icon aria-label="label">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button type="button" name="btn-edit" mat-menu-item class="action-btn" (click)="editSector(element)">
            <mat-icon class="action-btn">edit</mat-icon>
            <mat-label>Editar</mat-label>
          </button>
          <button type="button" name="btn-delete" mat-menu-item class="action-btn__danger" (click)="deleteSector(element)">
            <mat-icon class="action-btn__danger">delete</mat-icon>
            <mat-label>Eliminar</mat-label>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
