<ion-item-sliding *ngFor="let user of userList; index as i">
  <ion-item [color]="i%2===1?'#E2E3DC':''">
    <ion-thumbnail slot="start">
      <ngx-avatar *ngIf="user.photo" [src]="user.photo"></ngx-avatar>
      <ngx-avatar *ngIf="!user.photo" [name]=" user.name"></ngx-avatar>
    </ion-thumbnail>
    <ion-label style="display: flex;" class="ion-justify-content-between ion-text-right ion-align-items-center ">
      <ion-label class="user-name">{{ user.name }}</ion-label>
      <div>
        <h3>{{ user.role_id === 1?'Administrador':'Asesor' }}</h3>
        <ion-label [color]="user.status === 'ACTIVE'?'success':'danger'">
          {{ user.status === 'ACTIVE'?'Activo':'Inactivo' }}</ion-label>
      </div>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="primary" class="action-button" (click)="updateUser(user)">
      <ion-icon class="action-button__icon" name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" class="action-button" (click)="deleteUser(user)">
      <ion-icon class="action-button__icon" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
