@import '../../../../../assets/sass/mixins/ionic-custom.components';
@import '../../../../../assets/sass/mixins/angular-material-custom.components';
@import '../../../../../assets/sass/mixins/tipography';

.form-container {
  width: 100%;
  position: relative;
  @include input-ionic;
  @include mat-divider__component;

  &__title-content {
    @include headlineMediumText;
  }

  &__btn-content {
    @include button-ionic;

    .btn-title {
      @include buttonText;
    }
  }

  .close-btn__content {
    position: absolute;
    top: 0px;
    right: 0px;
  }

}
.submit-button{
  @include button-ionic;
}

.image {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;
  .image-btn {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 9px 15px #b2b2b225;
    border: 1px solid #b2b2b225;
  }
}

.image-add {
  width: 100%;
  height: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #b2b2b225;
  box-shadow: 0px 9px 15px #b2b2b225;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/968/473/original/upload-or-add-a-picture-jpg-file-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-etc-vector.jpg");
}

.text--caption {
  @include smallTextCard;
}
