<section class="table-container">
  <mat-table [dataSource]="services">

    <ng-container matColumnDef="name" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Servicios</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.name}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="real_price">
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Precio Real ($us)</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.real_price}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discount_price">
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Descuento ($us)</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.discount_price}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="predicted_price">
      <mat-header-cell *matHeaderCellDef>
        <mat-label>Precio Prevision ($us)</mat-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-label>
          {{element.predicted_price}}
        </mat-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button class="action-btn" [matMenuTriggerFor]="menu">
          <mat-icon aria-label="label">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button type="button" name="btn-edit" mat-menu-item class="action-btn" (click)="editDiscount(element)">
            <mat-icon class="action-btn">edit</mat-icon>
            <mat-label>Editar</mat-label>
          </button>
          <button type="button" name="btn-delete" mat-menu-item class="action-btn__danger" (click)="deleteDiscount(element)">
            <mat-icon class="action-btn__danger">delete</mat-icon>
            <mat-label>Eliminar</mat-label>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
