
@import '../../../../../assets/sass/mixins/tipography';
@import '../../../../../assets/sass/mixins/ionic-custom.components';

ion-item{
  border-radius: 10px;
  height: 54px;
}

ion-item > ion-label{
  @include titleSmallText;
  color: var(--ion-color-tertiary);
}

.mySwiper {
  overflow: inherit;
}
