<ion-grid>
  <ion-row>
    <ion-col sizeXs="12" sizeMd="8" offsetMd="2" class="ion-no-padding">
      <ion-item style="height: auto;">
        <ion-label position="floating" style="font-size: 20px;">Cuota Inicial $us:</ion-label>
        <ion-input style="font-size: 24px;" type="number" [value]="initialPay" (ionChange)="selectedService($event)" [min]="initialPay">
        </ion-input>
      </ion-item>
    </ion-col>

    <ion-col sizeXs="12" sizeMd="8" offsetMd="2" class="ion-padding-vertical" *ngIf="dataQuote">
      <swiper class="mySwiper" [spaceBetween]="30" [slidesPerView]="1" [pagination]="{
          clickable: true
        }">
        <ng-template swiperSlide>
          <app-card-final-quote *ngIf="option" [coinStatus]="coinStatus" [dataQuote]="dataQuote" [option]="option" [initialPay]="initialPay"
            (totalFinalQuote)="changeTotlaPrice($event)">
          </app-card-final-quote>
        </ng-template>
        <ng-template swiperSlide>
          <app-card-regular-price *ngIf="initial && option" [initial]="initial" [option]="option"  [coinStatus]="coinStatus" [dataQuote]="dataQuote"></app-card-regular-price>
        </ng-template>
        <ng-template swiperSlide>
          <app-card-discount-applied *ngIf="initial && option" [coinStatus]="coinStatus" [option]="option" [initial]="initial"
            [dataQuote]="dataQuote" [initialPay]="initialPay" (totalDiscountEvenEmitter)="changeDiscount($event)">
          </app-card-discount-applied>
        </ng-template>
      </swiper>
    </ion-col>

    <ion-col sizeXs="12" sizeMd="8" offsetMd="2" class="ion-no-padding">
      <ion-item>
        <ion-label position="floating">Observaciones:</ion-label>
        <ion-input type="text" accept="text" [value]="observation | titlecase" [(ngModel)]="observation"  (ngModelChange)="changeObservation()"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col class="ion-margin-top" sizeXs="12" sizeMd="6" offsetMd="3">
      <button class="btn-action" mat-raised-button (click)="sendQuote()">
        <ion-label class="ion-margin-end">Enviar Cotización</ion-label>
        <ion-icon slot="end" name="logo-whatsapp" class="submit-button__icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
