<ion-grid>
  <ion-row>
    <ion-col sizeSm="12" sizeMd="6" offsetMd="3">
      <img src="assets/images/denied.png">
      <ion-text color="tertiary">
        <h1 class="ion-text-center">
          No tienes permisos para acceder al modulo de <strong> {{title}} </strong>
        </h1>
        <p class="ion-text-center">Inicia sesión como administrador</p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
