<ion-grid>
  <ion-row>
    <ion-col sizeSm="12" sizeMd="6" offsetMd="3">
      <img src="assets/images/build.png">
      <ion-text color="tertiary">
        <h1 class="ion-text-center">
          Estamos trabajando en el módulo <strong>{{title}}</strong>
        </h1>
        <p class="ion-text-center">Pronto te traeremos sorpresas</p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
