<ion-header>
  <ion-toolbar mode="md" color="light">
    <ion-title color="tertiary" slot="start"> Confirmar envio </ion-title>
    <ion-button fill="clear" slot="end" (click)="closeModal()">
      <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" color="light" class="ion-padding">
  <form class="ion-margin-vertical" [formGroup]="contactForm" (ngSubmit)="sendInfo()">
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12">
          <ion-text color="secondary">Ingrese el número del cliente que tenga activo whatsapp.</ion-text>
          <section class="item-container">
            <ion-icon  class="icon" name="person-outline"></ion-icon>
            <ion-item>
              <ion-label position="floating">Nombre Cliente: *</ion-label>
              <ion-input type="text" inputmode="text" autocapitalize="on" formControlName="name"></ion-input>
            </ion-item>
          </section>
          <section class="item-container">
            <ion-icon class="icon" name="phone-portrait-outline"></ion-icon>
            <ion-item class="ion-margin-top">
              <ion-label position="floating">N° de Whatsapp*:</ion-label>
              <ion-input type="tel" inputmode="tel" autocomplete="tel" formControlName="phone"></ion-input>
            </ion-item>
          </section>
        </ion-col>
        <ion-col sizeXs="12" sizeMd="8" offsetMd="2">
          <button type="submit" class="btn-action" mat-raised-button>
            <ion-label>Confirmar</ion-label>
            <ion-icon name="send" class="ion-margin-start"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
