@import '../../../../../assets/sass/mixins/tipography';
@import '../../../../../assets/sass/mixins/ionic-custom.components';

.item-container{
  display: flex;
  align-items: flex-end;
  ion-item{
    width: 100%;
  }
  ion-icon.icon{
    font-size: 20px;
    color: var(--ion-color-tertiary);
    margin-right: 5px;
  }
}

