@import '../../../../../assets/sass/mixins/tipography';

.main-card{
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 470px;
  margin: 0 auto;
  &__header{

    &-title{
      @include headlineLargeText;
      color: var(--ion-color-danger);
    }

    &-subtitle{
      @include titleLargeText;
      color: var(--ion-color-on-surface);
    }

    &-text{
      @include smallTextCard;
      color: var(--ion-color-danger);
      opacity: 0.5;
    }
  }

  &__content{

    &__list{
      ion-label{
        @include bodyMediumText;
      }
      .danger{
        color: var(--ion-color-danger);
      }

    }
    .total{
      color: var(--ion-color-danger);
      ion-label{
        @include titleMediumText;
      }
    }
  }
}
