<ion-card class="main-card">
  <ion-card-header class="ion-text main-card__header ion-text-center">
    <section>
      <ion-card-subtitle class="ion-text main-card__header-subtitle"> Descuentos Aplicados </ion-card-subtitle>
      <ion-card-title class="ion-text main-card__header-title ion-margin-top">{{ (totalValueDiscount | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label class="ion-text main-card__header-text">Precio Final - Plazo a {{ dataQuote.discount.term }}  años</ion-label>
    </section>
    <section class="ion-margin-top">
      <ion-card-title class="ion-text main-card__header-subtitle">{{ (totalValueCash | convertCurrency: coinStatus) | currency: coinStatus? '$us ': 'Bs  ' }}</ion-card-title>
      <ion-label style="color: var(--ion-color-neutral70);" class="ion-text main-card__header-text">Precio al contado</ion-label>
    </section>
  </ion-card-header>

  <ion-card-content class="main-card__content">
    <ion-list class="main-card__content__list">
      <ion-item class="danger">
        <ion-label class="is-text--caption">Por combo / Antiguo</ion-label>
        <ion-label slot="end">{{dataQuote.old_customer? '2%': '0%'}}</ion-label>
      </ion-item>
      <ion-item class="danger">
        <ion-label class="is-text--caption">Por Cuota Inicial y plazo</ion-label>
        <ion-label slot="end" *ngIf="(firstRange <= initialPay && initialPay < secondRange)">{{ dataQuote.discount.initial_6 + '%' }}</ion-label>
        <ion-label slot="end" *ngIf="(secondRange <= initialPay && initialPay < thirdRange)">{{ dataQuote.discount.initial_10 + '%' }}</ion-label>
        <ion-label slot="end" *ngIf="(initialPay >= thirdRange)">{{ dataQuote.discount.initial_20 + '%' }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item class="danger total" lines="none">
      <ion-label class="is-text--caption">Total descuentos</ion-label>
      <ion-label slot="end">{{ totalDiscount + '%' }}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
